# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-workspace atom-text-editor:not(.mini)': [
    label: 'Atom Meld'
    submenu: [
      {label: 'Diff with Open Tab', command: 'atom-meld:diff-from-file-tab'}
    ]
  ]
  '.tree-view:not(.multi-select) .file.selected > .name': [
    label: 'Atom Meld'
    submenu: [
      {label: 'Diff with Active File', command: 'atom-meld:diff-from-tree-active'}
      {label: 'Diff with Open Tab', command: 'atom-meld:diff-from-tree-tab'}
    ]
  ]
  '.tab-bar .tab': [
    label: 'Atom Meld'
    submenu: [
      {label: 'Diff with Active File', command: 'atom-meld:diff-from-tab-active'}
      {label: 'Diff with Open Tab', command: 'atom-meld:diff-from-tab-tab'}
    ]
  ]
  '.tree-view.multi-select': [
    label: 'Atom Meld'
    submenu: [
      {label: 'Diff Selected Files', command: 'atom-meld:diff-from-tree-selected'}
    ]
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Atom Meld'
        'submenu': [
          {
            'label': 'Diff: Active File with Open Tab'
            'command': 'atom-meld:diff-from-file-tab'
          }
        ]
      }
    ]
  }
]
