'context-menu':
  'atom-workspace atom-text-editor:not(.mini)': [
    label: 'Atom Meld'
    submenu: [
      {label: 'Diff against Open Tab', command: 'atom-meld:diff-from-file-tab'}
    ]
  ]
  '.tree-view .file > .name': [
    label: 'Atom Meld'
    submenu: [
      {label: 'Diff against Active File', command: 'atom-meld:diff-from-tree-active'}
      {label: 'Diff against Open Tab', command: 'atom-meld:diff-from-tree-tab'}
    ]
  ]
  '.tab-bar .tab': [
    label: 'Atom Meld'
    submenu: [
      {label: 'Diff against Active File', command: 'atom-meld:diff-from-tab-active'}
      {label: 'Diff against Open Tab (todo)', command: 'atom-meld:diff-from-tab-tab'}
    ]
  ]
